---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import image2 from '../components/Images/image-2.jpg';
import image3 from '../components/Images/image--3.jpg';
import Footer from '../components/footer.astro';
import Carousel from '../components/carousel.astro';
---

<Layout title="index">

  <!-- SECTION # 01 -->
  <section class="section--1">
		<div class="parallax">
		  <div class="container">
		<!-- <picture>
		  <source srcset="Fatima marketing.svg" type="image/svg+xml">
		  <img src="Fatima marketing.svg" class="img-fluid" alt="image desc">
		  </picture> -->
		  <div class="content">
			  <div class="row justify-content-start align-items-start g-2 cover-img">
				<div class="col-sm-8 ">
				<h1 >FATIMA MARKETING</h1>
				</div>
				<div class="col-sm-12">
				<p > Igniting Growth, Maximizing Reach</p>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
	  </section>




<!-- SECTION 2 -->
<section class="section-margin-top">
<div class="container">
  <div class="row index-sec2">
  <div class="col-sm-4">
    <picture>
    <source srcset={image2.src} type="image/svg+xml">
    <img src={image2.src} class="img-fluid index-sec2-slideOut testId" alt="image desc">
    </picture>
  </div>
  <div class="col-sm-4 mx-auto index-sec2-text-slideDown testId" style="text-align: center; margin-left: 30px; margin-top: 20px;">
    <h5>Unlock Online Success</h5>
    <p>Maximize Your Business's Potential</p>
    <p>Elevate your business ROI to new heights with our exceptional suite of digital marketing solutions, including Search Engine Optimization (SEO), Paid Advertising Campaigns, and Social Media Management. Our comprehensive services are meticulously designed to position your business prominently across search engines and various digital platforms.</p>
    <p>Prepare to <span class="highlight">conquer the realm of Digital Marketing</span> with our diverse array of offerings. Your online success story starts here.</p>

    
    <button type="button" class="btn btn-outline-dark">Learn More</button>
    
  </div>
  </div>
  
  </div>
</div>      
</section>

    <!-- THIS IS SECTION # 03 -->
  <section class="section-margin-top">
      <div class="container">
        <h2>Digital Marketing Services</h2>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-sm-3 sec--3--cont-col-4 mx">
            <div class="card card-flip">
              <div class="card-inner card-front">
                <h5>Search Engine Optimization</h5>
              </div>
              <div class="card-inner card-back">
                <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </blockquote >
                <div class="d-grid">
                  <button type="button" class="btn btn-outline-dark">Learn More</button>
                </div>
            </div>
          </div>
        </div>

          <div class="col-sm-3 sec--3--cont-col-4">
            <div class="card card-flip">
              <div class="card-inner card-front">
              <h5>Email Marketing</h5>
            </div>
            <div class="card-inner card-back">
            <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
            </blockquote >
            <div class="d-grid">
              <button type="button" class="btn btn-outline-dark">Learn More</button>
              </div>
            </div>
          </div>
        </div>

          <div class="col-sm-3 sec--3--cont-col-4">
            <div class="card card-flip">
              <div class="card-inner card-front">
                <h5>Web Development</h5>
              </div>
            <div class="card-inner card-back">
              <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
              </blockquote >
              <div class="d-grid">
                <button type="button" class="btn btn-outline-dark">Learn More</button>
              </div>
            </div>  
          </div>
        </div>
          
          
          <div class="col-sm-3 sec--3--cont-col-4">
            <div class="card card-flip">
              <div class="card-inner card-front">
              <h5>Social Media Marketing</h5>
            </div>
            <div class="card-inner card-back">
              <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
              </blockquote >
              <div class="d-grid">
                <button type="button" class="btn btn-outline-dark">Learn More</button>
              </div>
          </div>
          </div>
          </div>
          
          <div class="col-sm-3 sec--3--cont-col-4">
            <div class="card card-flip">
              <div class="card-inner card-front">
                <h5>Youtube Marketing</h5>
              </div>  
              <div class="card-inner card-back">
            <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
            </blockquote >
            <div class="d-grid">
              <button type="button" class="btn btn-outline-dark">Learn More</button>
            </div>            
          </div>
          </div>
          </div>
          
          <div class="col-sm-3 sec--3--cont-col-4">
            <div class="card card-flip">
              <div class="card-inner card-front">
                <h5 class="card-front-text">Paid Ads</h5>
              </div>
              <div class="card-inner card-back">
            <blockquote >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
            </blockquote >
            <div class="d-grid">
              <button type="button" class="btn btn-outline-dark">Learn More</button>
              </div>
            </div>            
          </div>
          </div>
          </div>

      </div>
    </div>      
  </section>


  <!-- SECTION # 4 -->

  <section class="section-margin-top">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-4 mx-auto sec-4-text" style="text-align: center; margin-left: 30px; margin-top: 20px;">
          <h2>Claim Your Free Website Audit Today!</h2>
          <p>Maximize Your Business's Potential</p>
          <p>Elevate your business ROI to new heights with our exceptional suite of digital marketing solutions, including Search Engine Optimization (SEO), Paid Advertising Campaigns, and Social Media Management. Our comprehensive services are meticulously designed to position your business prominently across search engines and various digital platforms.</p>
          <p>Prepare to <span class="highlight">conquer the realm of Digital Marketing</span> with our diverse array of offerings. Your online success story starts here.</p>
          <button type="button" class="btn btn-outline-dark">Learn More</button>
        </div>
        
        <div class="col-sm-4">
          <picture>
            <source srcset= {image3.src} type="image/svg+xml">
            <img src= {image3.src} class="img-fluid" alt="image desc">
            </picture>
        </div>

        </div>
        
      </div>
    </div>      
  </section>


</Layout>
<Carousel />
<Footer />  


<style>

  .content {
    padding-top: 250px;
  }

.parallax {
  background-image: url('../components/images/Cover-image.png');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  
}

.parallax .container {
  position: absolute;
  top: 24%;
  left: 24%;
  transform: translate(-24%, -24%);
  text-align: center;
  color: #fff;
}

/* .parallax .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    } */




.cover-img h1{
  font-family: lastica;
  font-size: 3rem;
  /* margin-top: 550px;
  margin-left: 350px; */
  text-align: start;
  
}

.cover-img p{
  font-family: lastica;
  font-size: 1.5rem;
  /* margin-left: 350px; */

  text-align: start;
}

.sec-4-text{
  opacity: 0;
  transition: opacity 2s;
}

.sec-4-text-fadeIn{
  opacity: 1;
  transition: ease 1s;
  /* transition: ease opacity 100% 2s; */
}



.sec--3--cont-col-4{
    height: 18rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    padding-bottom: 10px;
    /* border-radius: 5px; */
    /* border: 1px solid #ccc; */
    margin: 20px;        
}

/* CSS for card flip animation */
.card-flip {
  position: relative;
  width: 100%;
  height: 18rem;
  perspective: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #ccc;

  /* margin-top: 200px; */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  backface-visibility: hidden;
  
}

.card-front {
  background-color: #151e3d;
  color: white;
  padding-top: 120px;
  text-align: center;
  
}

.card-back {
  /* background-color: #e74c3c; */
  /* color: brown; */
  transform: rotateY(180deg);
}

.card-flip:hover .card-inner {
  transform: rotateY(180deg);
}

.card-flip:hover .card-back{
  transform: rotateY(0deg);
  
}

.car-item-cus{
  width: 150px;
  margin-left: 550px;
 
}

.carousal-slide-cus{
  background-color: #151e3d;
  color: #ccc;
  height: 22rem;
}

.carousal-slide-blockq{
  padding-left: 200px;
  padding-right: 200px;
}


/* This the default css for all the associate pages */
.service-sec1{
  margin-top: 90px;
  height: 500px;
  /* padding-top: 300px; */
  background-color: #1c1235;
  color: white;
  max-width: 100%;
}

/* .index-sec2{

} */

.index-sec2-slideIn{
  transform: translateX(0);
  transition: ease 1.5s;
}

.index-sec2-slideOut{
  transform: translateX(-100%);
  transition: transform 1.5s;
}

.index-sec2-text-slideDown{
  transform: translateY(100%);
  transition: transform 1.5s;

}

.index-sec2-text-slideUp{
  transform: translateY(0);
  transition: ease 1.5s;
}
</style>

<script>
  let target = document.querySelector(".index-sec2");
  let sec2Slide = document.querySelector(".index-sec2-slideOut");
  let sec2Id = document.querySelectorAll(".testId");
  
  
  function intersectionObserveFunc(entries: any){
      entries.forEach(function(entry: any){
          if(entry.isIntersecting){
  
              console.log("Intersection");
  
              sec2Id.forEach(function(entry){
  
                  if(entry.classList.contains("index-sec2-slideOut")){
                      entry.classList.remove("index-sec2-slideOut");
                      entry.classList.add("index-sec2-slideIn");
                  }
                  
                  if(entry.classList.contains("index-sec2-text-slideDown")){
                      entry.classList.remove("index-sec2-text-slideDown");
                      entry.classList.add("index-sec2-text-slideUp");                    
                  }
              })}
      })}
  let options = {
      root: null,
      threshold: 0.5,
  }
  
  let observer = new IntersectionObserver(intersectionObserveFunc, options);
  
  if(target){
      observer.observe(target);
  }
  
  ////////////////////////////////////////////////////////////////////////
  
  let sec4Target = document.querySelector(".sec-4-text");
  let observer1 = new IntersectionObserver(intersectionObserveFunc2, options);
  
  
  function intersectionObserveFunc2(entries: any){	
      entries.forEach(function(entry: any){
          if(entry.isIntersecting){
              
              sec4Target!.classList.remove("sec-4-text");
              sec4Target!.classList.add(".sec-4-text-fadeIn");   
          }
      })
  }
  
  if(sec4Target){
      observer1.observe(sec4Target);
  }
  
  
  
  
  
  
  </script>