---
import Layout from "../layouts/Layout.astro";
import Footer from '../components/footer.astro';
---

<Layout title="Services">

        <div class="container-fluid">
    
        <section>
                <div class="row">
                    <div class="service-sec1">
                        <div class="col-12">
                            <h1>Our Services</h1>
                        </div>
                        <div class="col-8">
                            <blockquote>"Experience the power of our data-driven marketing agency, where we specialize in tailoring strategic solutions to elevate businesses of all sizes, from startups to industry giants."
                            </blockquote>
                        </div>
                    </div>
                    
                </div>
        </section>
    
        <!-- Section # 1.2  -->
        <section class="section-margin-top">
          <h2 class="mx-auto">How we get the job done!</h2>
            <div class="row justify-content-center align-items-center g-2 section-margin-top section1-2">
              
              
              <div class="col-sm-3 services-top-grid">
                <div class="d-flex justify-content-center">
                  <i class='fas icon-cus'>&#xf0ac;</i>
                </div>
                <div>  
                  <blockquote style="text-align: center;">
                    Target your audience precisely with data analysis, guaranteeing your marketing efforts consistently hit the bullseye for maximum engagement and success. I repeat "maximum engagement and success"!
                  </blockquote>
                </div>
              </div>
    
    
              <div class="col-sm-3 services-top-grid">
                <div class="d-flex justify-content-center">
                  <i class='fas icon-cus'>&#xf304;</i>            
                </div>
                <div>
                  <blockquote style="text-align: center;">
                    Craft compelling content that resonates with your audience, builds trust, and drives engagement. Our strategic content marketing solutions will elevate your brand's online presence.
                  </blockquote>
                </div>
              </div>
    
    
              <div class="col-sm-3 services-top-grid">
                <div class="d-flex justify-content-center">
                  <i class='fas icon-cus'>&#xf0a1;</i>                          
                </div>
                <div>
                  <blockquote style="text-align: center;">
                    Reach your audience wherever they are, whether it's through social media, email, search engines, or beyond. Our multi-channel marketing strategies ensure your message gets noticed.
                  </blockquote>
                </div>
                
              </div>
            </div>
          
        </section>
    
    
    
    
    <!-- SECTION # 2 -->
        <section class="services-sec2">
    
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item slideOut">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                  Search Engine Optimization
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
          
            <div class="accordion-item slideOut-right">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                  Email Marketing
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
         
         
            <div class="accordion-item slideOut">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseTwo">
                  Web Development
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
         
            <div class="accordion-item slideOut-right">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseTwo">
                  Socail Media Marketing
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
         
            <div class="accordion-item slideOut">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseTwo">
                  Youtube Marketing
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
         
            <div class="accordion-item slideOut-right">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="true" aria-controls="flush-collapseTwo">
                  Paid Ads
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat nisl vitae magna elementum, hendrerit volutpat nibh maximus. Duis lacinia efficitur lacinia. Pellentesque id interdum eros. Sed dignissim lacus dolor, ac cursus nulla condimentum eu. Vestibulum ut justo et tellus feugiat sagittis.
                </div>
              </div>
            </div>
          </div>
        
        </section>
    
    
    
    
    
    
    
    
    </div>
</Layout>
<Footer />

<script src="https://kit.fontawesome.com/e5296d3366.js" crossorigin="anonymous"></script>
<script>
    let target = document.querySelector(".services-sec2");
let element = document.querySelector(".slideOut");
// let item = document.querySelector(".accordion-item");
let items = document.querySelectorAll(".accordion-item");

function intersectionObserveFuncServices(entries: any){
    entries.forEach(function(entry: any){
        if(entry.isIntersecting){

            // alert("intersected")
            items.forEach(function(item){

                if(item.classList.contains("slideOut")){
                    item.classList.remove("slideOut");
                    item.classList.add("slideIn");
                }
                else if(item.classList.contains("slideOut-right")){
                    item.classList.remove("slideOut-right");
                    item.classList.add("slideIn-right");
                }



                    
            })

        }
    })
}

let options = {
    root: null,
    treshold: 0.5,
}


let observer = new IntersectionObserver(intersectionObserveFuncServices, options);

if(target){
    observer.observe(target);
}

</script>

<style>
    /* SERVICES PAGE ACCORDIAN */
    .service-sec1{
  margin-top: 90px;
  height: 500px;
  padding-top: 290px;
  background-color: #1c1235;
  color: white;
  max-width: 100%;
}
 

/* Styling the accordion container */
.accordion {
  margin-top: 20px;
}

/* Styling the accordion buttons */
.accordion-button {
  background-color: #352966 ;
  color: #fff;
}

/* Styling the accordion button when expanded */
.accordion-button:not(.collapsed) {
  background-color: #1c1235;
}

/* Styling the accordion body */
.accordion-body {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px;
}

/* Styling the accordion body text */
.accordion-body p {
  margin-bottom: 0;
}

/* Adding some padding to the entire accordion section */
.accordion-item {
  margin-bottom: 10px;
}

/* Styling the accordion header (optional) */
.accordion-header {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Styling the accordion header text (optional) */
.accordion-header button {
  color: #333;
}

/* Styling the active accordion header (optional) */
.accordion-header:not(.collapsed) {
  background-color: #ddd;
}

/* Styling the active accordion header text (optional) */
.accordion-header:not(.collapsed) button {
  color: white;
}


.slideOut{
  transform: translateX(-100%);
  transition: transform 0.5;
}

.slideIn{
  transform: translateX(0);
  transition: ease 2s;
}

.slideOut-right{
  transform: translateX(100%);
  transition: transform 0.5;
}

.slideIn-right{
  transform: translateX(0);
  transition: ease 2s;
}

.services-top-grid{
  margin: 10px;
  /* height: 200px; */
  /* border: solid black; */
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5); */

}

.services-top-grid:hover{
  /* margin: 10px; */
  /* height: 200px; */
  /* border: solid black; */
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5); */
  /* transform: translateY(5%); */
  
  box-shadow: 10px 10px 5px 0px #2B3464;
  transition: box-shadow 0.5s ease;
  transform: translateY(-5%);
  transition: transform 0.5s;
  
}

.icon-cus{
  font-size:40px;
}

/* Never Implemented
.icon-cus-hover{
  transform: translateY(-15%);
  transition: transform 0.5s;
  font-size:45px;
} */



</style>